$search-bar-border: #e6e6e6;
$stats-color: #70757a;
$clear-button-color: #d9d9d9;
$background-color: #fff;
$font-color: #000;
$logo-blue: #4885ed;
$logo-red: #db3236;
$logo-yellow: #ffc107;
$logo-green: #3cba54;
$link-color: #1a0dab;
$link-visited-color: #609;
$link-outline-color: #000;
$font-stack: 'Roboto',
Arial,
sans-serif;

%flex {
    display: flex;
    align-items: center;
}

@mixin flexColumn {
    @extend %flex;
    flex-direction: column;
}

@mixin flexCenter {
    @extend %flex;
    justify-content: center;
}

@mixin mq($size) {
    @media screen and (min-width: $size) {
        @content
    }
}


.blue {
    color: $logo-blue;
}

.yellow {
    color: $logo-yellow;
}

.red {
    color: $logo-red;
}

.green {
    color: $logo-green;
}

.exclaim {
    display: inline-block;
    font-size: 2.5rem;
    transform: rotate(12deg);

    @include mq(768px) {
        font-size: 5rem;
    }
}




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.none {
    display: none;
}

.home {
    @include flexColumn;
    margin: 2rem auto;
    width: 90vw;
    background-color: #eee;

    .search {
        .logo {
            margin-top: 2rem;
            text-align: center;
            font-size: 4rem;

            @include mq(768px) {
                font-size: 6rem;
            }
        }

        .form {
            @include flexCenter;
            justify-content: space-between;
            margin: 3rem auto;
            padding: 1rem;
            padding-left: 1.5rem;

            width: 60vw;
            border-radius: 10rem;
            background: white;

            input {
                outline: none;
                font-size: 1rem;
                letter-spacing: 1px;
                border: 0;
                width: 43vw;

                @include mq(768px) {
                    font-size: 1.5rem;
                }
            }

            button {
                display: inline-block;
                background: transparent;
                border: 0;
                outline: none;

                i {
                    font-size: 2rem;
                }
            }

            @include mq(768px) {
                width: 45vw;
                margin: 5rem auto;
            }

            @include mq(1024px) {
                width: 35vw;
            }
        }
    }

    .result {
        background-color: $background-color;

        .stats {
            text-align: center;
            margin-top: -2rem;
            color: $stats-color;
            font-size: 1.25rem;
        }
        .users-template{
            // background-color: $stats-color;
            @include flexColumn;
            @include mq(768px){
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                width: 90vw;
                grid-gap: 0.5rem;
            }
        .users {
            @include flexColumn;
            background-color: $background-color;
            padding: 1rem;
            width: 80vw;
            @include mq(768px){
                width: 30vw;
            }
            &:hover {
                box-shadow: 0 5px 10px black;
            }

            img {
                width: 100px;
                height: auto;
                border-radius: 50%;
            }

            a {
                font-family: $font-stack;
                color: $font-color;
                text-decoration: none;
            }

            .title {
                margin: 0.75rem auto;
                text-align: center;
                font-size: 1.550rem;
            }
        }

    }
}
}


//error
.error {
    font-size: 2rem;
    text-transform: capitalize;
    margin: 2rem;
}

//loading
.loader,
.loader:before,
.loader:after {
    background: transparent;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: var(--primaryColor);
    text-indent: -9999em;
    margin: 88px auto;
    margin-top: 20rem;
    position: relative;
    font-size: 3rem;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}